*.*
*/
!.gitignore
!Asset*
!*.sln
!*.userpref
!ProjectSetting*
!*/*
!*/*/*
!*/*/*/*
!*/*/*/*/*
!*/*/*/*/*/*
!*/*/*/*/*/*/*
!*/*/*/*/*/*/*/*
!*/*/*/*/*/*/*/*/*
!*/*/*/*/*/*/*/*/*/*
!*/*/*/*/*/*/*/*/*/*/*
!*/*/*/*/*/*/*/*/*/*/*/*
!*/*/*/*/*/*/*/*/*/*/*/*/*
!*/*/*/*/*/*/*/*/*/*/*/*/*/*
